@import "variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins/breakpoints";

body {
	padding-top: 4rem;
}

@include media-breakpoint-up(sm) {
	.lana-navbar-search {
		.input-group input.form-control {
			width: 250px;
		}
	}
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: $grid-gutter-width / 2;
	right: $grid-gutter-width / 2;

	canvas:focus {
		outline: none;
	}
}

.institution-color-bubble {
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	margin: .15em;
}

.institution-color-bubble-small {
	margin: .15em;
	width: .8em;
	height: .8em;
	border-radius: 50%;
}
