# Virtualenv
/env/

# Idea
/.idea/
/*.iml

# Visual Studio Code
/.vscode/

# Development DB
db.sqlite3

# SCSS
.sass-cache

# Static Files
/lana_dashboard/staticfiles/

/lana_dashboard/localsettings.py
