language: python
sudo: false
python:
  - "3.4"
addons:
  postgresql: "9.4"
cache: pip
install:
  - gem install sass
  - pip install psycopg2
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
script:
  # See https://github.com/andreyfedoseev/django-static-precompiler/issues/81
  - sed -i '/^\/\/.*@import/d' lana_dashboard/static/bootstrap/scss/_reboot.scss

  - python manage.py lint
  - bash -c "! python manage.py makemigrations -e --dry-run"
  - coverage run manage.py test lana_dashboard.lana_data.tests
after_success:
  - coveralls
