{% extends "master.html" %}
{% block breadcrumbs %}
	<li class="breadcrumb-item">Users</li>
	<li class="breadcrumb-item active">{{ profile.get_full_name }}</li>
{% endblock %}
{% block content %}
	<h1>{{ profile.get_full_name }}</h1>
	<div class="row">
		<div class="col-xs-12 col-md-10 col-lg-8">
			<table class="table">
				<tbody>
					<tr>
						<th>User name:</th>
						<td>{{ profile.username }}</td>
					</tr>
					{% if info and info.show_email %}
					<tr>
						<th>Email:</th>
						<td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></td>
					</tr>
					{% endif %}
					{% if info and info.skype_user %}
					<tr>
						<th>Skype:</th>
						<td><a href="skype:{{ info.skype_user }}?chat">{{ info.skype_user }}</a></td>
					</tr>
					{% endif %}
					{% if info and info.xmpp_address %}
					<tr>
						<th>XMPP address:</th>
						<td><a href="xmpp:{{ info.xmpp_address }}?message">{{ info.xmpp_address }}</a></td>
					</tr>
					{% endif %}
					{% if info and info.additional_text %}
					<tr>
						<th>Additional information:</th>
						<td>
							{{ info.additional_text|linebreaks }}
						</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
			{% if profile.username == user.username %}
			<p>
				<a class="btn btn-primary" href="{% url 'usermanagement:profile-edit' profile.username %}">Edit user profile</a>
				<a class="btn btn-secondary" href="{% url 'usermanagement:tokens' profile.username %}">Tokens</a>
			</p>
			{% endif %}
		</div>
	</div>

	<h2>Institutions</h2>
	<div class="row">
		<div class="col-xs-12">
			{% include 'tables/institution_list.html' with dont_link_username=profile.username empty_message=profile.get_full_name|add:' does not manage any Institutions.' %}
		</div>
	</div>
{% endblock %}
