<table class="table table-striped">
	<thead>
		<tr>
			<th>AS</th>
			<th>FQDN</th>
			{% if not disable_institution %}
			<th>Institution</th>
			{% endif %}
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
		{% for autonomous_system in autonomous_systems %}
		<tr>
			<td><a href="{% url 'lana_data:autonomous_system-details' autonomous_system.as_number %}">{{ autonomous_system }}</a></td>
			<td>{{ autonomous_system.fqdn }}</td>
			{% if not disable_institution %}
			<td><a href="{% url 'lana_data:institution-details' autonomous_system.institution.code %}" title="{{ autonomous_system.institution.name }}">{{ autonomous_system.institution.code }}</a></td>
			{% endif %}
			<td>{{ autonomous_system.comment }}</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="{% if disable_instution %}3{% else %}4{% endif %}">{{ empty_message }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
