<table class="table table-striped">
	<thead>
	<tr>
		<th>FQDN</th>
		<th>Internal IPv4</th>
		{% if not disable_autonomous_system %}
		<th>AS</th>
		<th>Institution</th>
		{% endif %}
		<th>Comment</th>
	</tr>
	</thead>
	<tbody>
	{% for host in hosts %}
		<tr>
			<td>
				<a href="{% url 'lana_data:host-details' host.fqdn %}">{{ host.fqdn }}</a>
				{% if host.private %}<span class="tag tag-default">Private</span>{% endif %}
			</td>
			<td>{{ host.internal_ipv4.ip|default:'<em>None</em>' }}</td>
			{% if not disable_autonomous_system %}
			<td>
				{% if host.autonomous_system.show_link %}
				<a href="{% url 'lana_data:autonomous_system-details' host.autonomous_system.as_number %}">{{ host.autonomous_system }}</a>
				{% else %}
				{{ host.autonomous_system }}
				{% endif %}
			</td>
			<td>{% include 'fragments/institution_code.html' with institution=host.institution %}</td>
			{% endif %}
			<td>{{ host.comment }}</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="{% if disable_institution %}3{% else %}5{% endif %}">{{ empty_message }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
