<table class="table table-striped">
	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th>AS Range</th>
			<th>Managed by</th>
		</tr>
	</thead>
	<tbody>
		{% for institution in institutions %}
		<tr>
			<td>{% include 'fragments/institution_code.html' %}</td>
			<td>{{ institution.name }}</td>
			<td>
				{% if institution.as_range %}
				[{{ institution.as_range.lower }}-{{ institution.as_range.upper }})
				{% else %}
				<em>None</em>
				{% endif %}
			</td>
			<td>
				{% for owner in institution.owners.all %}
				{% if owner.username == dont_link_username %}
				<strong>{{ owner.get_full_name }}</strong>{% if not forloop.last %}, {% endif %}
				{% else %}
				<a href="{% url 'usermanagement:profile' owner.username %}">{{ owner.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
				{% endif %}
				{% endfor %}
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="4">{{ empty_message }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
