{% extends "master.html" %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'lana_data:autonomous_systems' %}">Autonomous Systems</a></li>
<li class="breadcrumb-item active">{{ autonomous_system }}</li>
{% endblock %}
{% block content %}
	<h1>
		{{ autonomous_system }}
		{% if autonomous_system.private %}<span class="tag tag-default">Private</span>{% endif %}
	</h1>
	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<table class="table">
				<tbody>
					<tr>
						<th>AS:</th>
						<td>{{ autonomous_system.as_number }}</td>
					</tr>
					<tr>
						<th>Comment:</th>
						<td>{{ autonomous_system.comment }}</td>
					</tr>
					<tr>
						<th>Institution:</th>
						<td>{% include 'fragments/institution_name.html' with institution=autonomous_system.institution %}</td>
					</tr>
				</tbody>
			</table>
			{% if can_edit %}
			<div class="m-b-1">
				<a class="btn btn-primary" href="{% url 'lana_data:autonomous_system-edit' autonomous_system.as_number %}">Edit Autonomous System</a>
				{% url 'lana_data:autonomous_system-delete' autonomous_system.as_number as delete_url %}
				{% include 'fragments/delete-confirm.html' with url=delete_url object_name='Autonomous System' %}
			</div>
			{% endif %}
		</div>
		{% if autonomous_system.has_geo %}
		<div class="col-xs-12 col-lg-6" style="min-height: 250px;">
			<div id="map"></div>
		</div>
		<script>
			$(function() {
				var map = LANA.createMap({{ autonomous_system.location_lat }}, {{ autonomous_system.location_lng }}, 9);
				LANA.loadGeoJSONPoints(map, '{% url 'lana_data:autonomous_system-details' autonomous_system.as_number %}');
			});
		</script>
		{% endif %}
	</div>

	<h2>Hosts</h2>
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			{% include 'tables/host_list.html' with disable_autonomous_system=True empty_message='There are not hosts in this Autonomous System.' %}
			{% if can_edit %}
			<p>
				<a class="btn btn-primary" href="{% url 'lana_data:host-create' autonomous_system.as_number %}">Create Host</a>
			</p>
			{% endif %}
		</div>
	</div>

	<h2>Tunnels</h2>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-xl-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Tunnel</th>
						<th>Peer AS</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					{% for tunnel in tunnels %}
					<tr>
						<td>
							<a href="{% url 'lana_data:tunnel-details' tunnel.endpoint1.autonomous_system.as_number tunnel.endpoint2.autonomous_system.as_number %}">Details</a>
							{% if tunnel.private %}<span class="tag tag-default">Private</span>{% endif %}
						</td>
						<td><a href="{% url 'lana_data:autonomous_system-details' tunnel.peer_endpoint.autonomous_system.as_number %}">{{ tunnel.peer_endpoint.autonomous_system }}</a></td>
						<td>{{ tunnel.comment }}</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="3">This Autonomous System does not participate in any Tunnels.</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
