{% extends "master.html" %}
{% block content %}
	<h1>AS{{ autonomous_system.as_number }}</h1>
	<div class="col-md-6">
		<table class="table">
			<tbody>
				<tr>
					<th>AS:</th>
					<td>{{ autonomous_system.as_number }}</td>
				</tr>
				<tr>
					<th>FQDN:</th>
					<td>{{ autonomous_system.fqdn }}</td>
				</tr>
				<tr>
					<th>Comment:</th>
					<td>{{ autonomous_system.comment }}</td>
				</tr>
			</tbody>
		</table>
		{% if can_edit %}
		<p>
			<a class="btn btn-primary" href="{% url 'lana_data:autonomous_system-edit' autonomous_system.as_number %}">Edit Autonomous System</a>
		</p>
		{% endif %}
	</div>
{% endblock %}
