{% extends "master.html" %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'lana_data:autonomous_systems' %}">Autonomous Systems</a></li>
<li class="breadcrumb-item active">AS{{ autonomous_system.as_number }}</li>
{% endblock %}
{% block content %}
	<h1>AS{{ autonomous_system.as_number }}</h1>
	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<table class="table">
				<tbody>
					<tr>
						<th>AS:</th>
						<td>{{ autonomous_system.as_number }}</td>
					</tr>
					<tr>
						<th>FQDN:</th>
						<td>{{ autonomous_system.fqdn }}</td>
					</tr>
					<tr>
						<th>Comment:</th>
						<td>{{ autonomous_system.comment }}</td>
					</tr>
					<tr>
						<th>Institution:</th>
						<td><a href="{% url 'lana_data:institution-details' autonomous_system.institution.code %}">{{ autonomous_system.institution.name }}</a></td>
					</tr>
				</tbody>
			</table>
			{% if can_edit %}
			<p>
				<a class="btn btn-primary" href="{% url 'lana_data:autonomous_system-edit' autonomous_system.as_number %}">Edit Autonomous System</a>
			</p>
			{% endif %}
		</div>
		{% if autonomous_system.location_lat and autonomous_system.location_lng %}
		<div class="col-xs-12 col-lg-6" style="min-height: 250px;">
			<div id="map"></div>
		</div>
		<script>
			$(function() {
				var map = LANA.createMap({{ autonomous_system.location_lat }}, {{ autonomous_system.location_lng }}, 9);
				LANA.loadGeoJSONPoints(map, '{% url 'lana_data:autonomous_system-details' autonomous_system.as_number %}');
			});
		</script>
		{% endif %}
	</div>

	<h2>Tunnels</h2>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-xl-6">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Tunnel</th>
						<th>Peer AS</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					{% for tunnel in tunnels %}
					<tr>
						<td><a href="{% url 'lana_data:tunnel-details' tunnel.endpoint1.autonomous_system.as_number tunnel.endpoint2.autonomous_system.as_number %}">Details</a></td>
						<td><a href="{% url 'lana_data:autonomous_system-details' tunnel.peer_endpoint.autonomous_system.as_number %}">{{ tunnel.peer_endpoint.autonomous_system }}</a></td>
						<td>{{ tunnel.comment }}</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan="3">This Autonomous System does not participate in any Tunnels.</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
