{% extends "master.html" %}
{% block breadcrumbs %}
	<li class="breadcrumb-item"><a href="{% url 'lana_data:autonomous_systems' %}">Autonomous Systems</a></li>
	<li class="breadcrumb-item"><a href="{% url 'lana_data:autonomous_system-details' host.autonomous_system.as_number %}">{{ host.autonomous_system }}</a></li>
	<li class="breadcrumb-item active">{{ host }}</li>
{% endblock %}
{% block content %}
	<h1>
		{{ host }}
		{% if host.private %}<span class="tag tag-default">Private</span>{% endif %}
	</h1>
	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<table class="table">
				<tbody>
					<tr>
						<th>FQDN:</th>
						<td>{{ host.fqdn }}</td>
					</tr>
					{% if host.external_hostname %}
					<tr>
						<th>External hostname:</th>
						<td>{{ host.external_hostname }}</td>
					</tr>
					{% endif %}
					{% if host.external_ipv4 %}
					<tr>
						<th>External IPv4:</th>
						<td>{{ host.external_ipv4.ip }}</td>
					</tr>
					{% endif %}
					<tr>
						<th>Internal IPv4:</th>
						<td>{{ host.internal_ipv4.ip|default:'<em>None</em>' }}</td>
					</tr>
					{% if host.tunnel_ipv4 %}
					<tr>
						<th>Tunnel IPv4:</th>
						<td>{{ host.tunnel_ipv4.ip }}</td>
					</tr>
					{% endif %}
					<tr>
						<th>Comment:</th>
						<td>{{ host.comment }}</td>
					</tr>
					<tr>
						<th>Autonomous System:</th>
						<td><a href="{% url 'lana_data:autonomous_system-details' host.autonomous_system.as_number %}">{{ host.autonomous_system }}</a></td>
					</tr>
					<tr>
						<th>Institution:</th>
						<td>{% include 'fragments/institution_name.html' with institution=host.institution %}</td>
					</tr>
				</tbody>
			</table>
			{% if can_edit %}
			<div class="m-b-1">
				<a class="btn btn-primary" href="{% url 'lana_data:host-edit' host.fqdn %}">Edit Host</a>
				{% url 'lana_data:host-delete' host.fqdn as delete_url %}
				{% include 'fragments/delete-confirm.html' with url=delete_url object_name='Host' %}
			</div>
			{% endif %}
		</div>
		{% if host.autonomous_system.has_geo %}
		<div class="col-xs-12 col-lg-6" style="min-height: 250px;">
			<div id="map"></div>
		</div>
		<script>
			$(function() {
				var map = LANA.createMap({{ host.autonomous_system.location_lat }}, {{ host.autonomous_system.location_lng }}, 9);
				LANA.loadGeoJSONPoints(map, '{% url 'lana_data:autonomous_system-details' host.autonomous_system.as_number %}');
			});
		</script>
		{% endif %}
	</div>
{% endblock %}
