{% extends "master.html" %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'lana_data:institutions' %}">Institutions</a></li>
<li class="breadcrumb-item active">{{ institution.name }}</li>
{% endblock %}
{% block content %}
	<h1>{% include 'fragments/institution_name.html' with disable_link=True %}</h1>
	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<table class="table">
				<tbody>
					<tr>
						<th>Name:</th>
						<td>{{ institution.name }}</td>
					</tr>
					<tr>
						<th>Code:</th>
						<td>{{ institution.code }}</td>
					</tr>
					<tr>
						<th>AS Range:</th>
						<td>
							{% if institution.as_range %}
							[{{ institution.as_range.lower }}-{{ institution.as_range.upper }})
							{% else %}
							<em>None</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Abuse email:</th>
						<td>
							{% if institution.abuse_email %}
							<a href="mailto:{{ institution.abuse_email }}">{{ institution.abuse_email }}</a>
							{% else %}
							<em>None</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Managers:</th>
						<td>
							{% for owner in institution.owners.all %}
							<a href="{% url 'usermanagement:profile' owner.username %}">{{ owner.get_full_name }}</a>{% if not forloop.last %}<br />{% endif %}
							{% endfor %}
						</td>
					</tr>
				</tbody>
			</table>
			{% if can_edit %}
			<div class="m-b-1">
				<a class="btn btn-primary" href="{% url 'lana_data:institution-edit' institution.code %}">Edit institution</a>
				{% url 'lana_data:institution-delete' institution.code as delete_url %}
				{% include 'fragments/delete-confirm.html' with url=delete_url object_name='Institution' %}
			</div>
			{% endif %}
		</div>
		{% if show_map %}
		<div class="col-xs-12 col-lg-6" style="min-height: 350px;">
			<div id="map"></div>
		</div>
		<script>
			$(function() {
				var map = LANA.createMap(51.133333, 10.416667, 4);
				LANA.loadGeoJSONPoints(map, '{% url 'lana_data:institution-autonomous_systems' institution.code %}', function() {
					LANA.fitBoundsToSource(map, 'markers');
				});
				LANA.loadGeoJSONLines(map, '{% url 'lana_data:institution-tunnels' institution.code %}');
			});
		</script>
		{% endif %}
	</div>

	<h2>Autonomous Systems</h2>
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			{% include 'tables/autonomous_system_list.html' with disable_institution=True empty_message='This institution does not have any Autonomous Systems.' %}
			{% if can_edit %}
			<p>
				<a class="btn btn-primary" href="{% url 'lana_data:autonomous_system-create' %}?institution={{ institution.code }}">Create Autonomous System</a>
			</p>
			{% endif %}
		</div>
	</div>

	<h2>IPv4 Subnets</h2>
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			{% include 'tables/ipv4_subnet_list.html' with disable_institution=True empty_message='This institution does not have any IPv4 subnets.' %}
			{% if can_edit %}
			<p>
				<a class="btn btn-primary" href="{% url 'lana_data:ipv4-create' %}?institution={{ institution.code }}">Create IPv4 Subnet</a>
			</p>
			{% endif %}
		</div>
	</div>

	<h2>Tunnels</h2>
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			{% include 'tables/tunnel_list.html' with empty_message='This institution does not participate in any Tunnels.' %}
			{% if can_edit %}
			<p>
				<a class="btn btn-primary" href="{% url 'lana_data:tunnel-create' %}">Create Tunnel</a>
			</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
