{% extends "master.html" %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'lana_data:institutions' %}">Institutions</a></li>
<li class="breadcrumb-item active">{{ institution.name }}</li>
{% endblock %}
{% block content %}
	<h1>{{ institution.name }}</h1>
	<div class="row" style="min-height: 350px;">
		<div class="col-md-6">
			<table class="table">
				<tbody>
					<tr>
						<th>Name:</th>
						<td>{{ institution.name }}</td>
					</tr>
					<tr>
						<th>Code:</th>
						<td>{{ institution.code }}</td>
					</tr>
					<tr>
						<th>Managers:</th>
						<td>
							{% for owner in institution.owners.all %}
							{{ owner.get_full_name }}{% if not forloop.last %}<br />{% endif %}
							{% endfor %}
						</td>
					</tr>
				</tbody>
			</table>
			{% if can_edit %}
			<p>
				<a class="btn btn-primary" href="{% url 'lana_data:institution-edit' institution.code %}">Edit institution</a>
			</p>
			{% endif %}
		</div>
		{% if show_map %}
		<div class="col-md-6">
			<div id="map"></div>
		</div>
		<script>
			$(function() {
				var map = LANA.createMap(51.133333, 10.416667, 4);
				LANA.loadGeoJSON(map, '{% url 'lana_data:institution-autonomous_systems' institution.code %}', function() {
					LANA.fitBoundsToSource(map, 'markers');
				});
			});
		</script>
		{% endif %}
	</div>

	<h2>Autonomous Systems</h2>
	<div class="col-md-8">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>AS</th>
				<th>FQDN</th>
				<th>Comment</th>
			</tr>
			</thead>
			<tbody>
				{% for autonomous_system in autonomous_systems %}
				<tr>
					<td><a href="{% url 'lana_data:autonomous_system-details' autonomous_system.as_number %}">{{ autonomous_system.as_number }}</a></td>
					<td>{{ autonomous_system.fqdn }}</td>
					<td>{{ autonomous_system.comment }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="3">This institution does not have any Autonomous Systems.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if can_edit %}
		<p>
			<a class="btn btn-primary" href="{% url 'lana_data:autonomous_system-create' %}?institution={{ institution.code }}">Create Autonomous System</a>
		</p>
		{% endif %}
	</div>

	<h2>IPv4 Subnets</h2>
	<div class="col-md-8">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Subnet</th>
				<th>DNS Server</th>
				<th>Comment</th>
			</tr>
			</thead>
			<tbody>
				{% for subnet in ipv4_subnets %}
				<tr>
					<td><a href="{% url 'lana_data:ipv4-details' subnet.network_address subnet.subnet_bits %}">{{ subnet.network_address }}/{{ subnet.subnet_bits }}</a></td>
					<td>{{ subnet.dns_server|default:'<em>None</em>' }}</td>
					<td>{{ subnet.comment }}</td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="3">This institution does not have any IPv4 subnets.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if can_edit %}
		<p>
			<a class="btn btn-primary" href="{% url 'lana_data:ipv4-create' %}?institution={{ institution.code }}">Create IPv4 Subnet</a>
		</p>
		{% endif %}
	</div>
{% endblock %}
