{% extends "master.html" %}
{% block content %}
	<h1>IPv4 Subnets</h1>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Subnet</th>
			<th>Institution</th>
			<th>DNS Server</th>
			<th>Comment</th>
		</tr>
		</thead>
		<tbody>
			{% for subnet in subnets %}
			<tr>
				<td><a href="{% url 'lana_data:ipv4-details' subnet.network_address subnet.subnet_bits %}">{{ subnet.network_address }}/{{ subnet.subnet_bits }}</a></td>
				<td><a href="{% url 'lana_data:institution-details' subnet.institution.code %}" title="{{ subnet.institution.name }}">{{ subnet.institution.code }}</a></td>
				<td>{{ subnet.dns_server|default:'<em>None</em>' }}</td>
				<td>{{ subnet.comment }}</td>
			</tr>
			{% empty %}
			<tr>
				<td colspan="4">There are currently no IPv4 Subnets.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if can_create %}
	<p>
		<a class="btn btn-primary" href="{% url 'lana_data:ipv4-create' %}">Create IPv4 Subnet</a>
	</p>
	{% endif %}
{% endblock %}
