{% extends "master.html" %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'lana_data:ipv4' %}">IPv4 Subnets</a></li>
<li class="breadcrumb-item active">{{ subnet.network }}</li>
{% endblock %}
{% block content %}
	<h1>
		{{ subnet.network }}
		{% if subnet.private %}<span class="tag tag-default">Private</span>{% endif %}
	</h1>
	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<table class="table">
				<tbody>
					<tr>
						<th>Subnet:</th>
						<td>{{ subnet.network }}</td>
					</tr>
					<tr>
						<th>DNS Server:</th>
						<td>{{ subnet.dns_server.ip|default:'<em>None</em>' }}</td>
					</tr>
					<tr>
						<th>Comment:</th>
						<td>{{ subnet.comment }}</td>
					</tr>
					<tr>
						<th>Institution:</th>
						<td>{% include 'fragments/institution_name.html' with institution=subnet.institution %}</td>
					</tr>
				</tbody>
			</table>
			{% if can_edit %}
			<div class="m-b-1">
				<a class="btn btn-primary" href="{% url 'lana_data:ipv4-edit' subnet.network %}">Edit IPv4 Subnet</a>
				{% url 'lana_data:ipv4-delete' subnet.network as delete_url %}
				{% include 'fragments/delete-confirm.html' with url=delete_url object_name='IPv4 Subnet' %}
			</div>
			{% endif %}
		</div>
	</div>

	<h2>Hosts</h2>
	<div class="row">
		<div class="col-xs-12 col-lg-8">
			{% include 'tables/host_list.html' with disable_autonomous_system=True empty_message='There are no hosts in this subnet.' %}
		</div>
	</div>
{% endblock %}
