{% extends "master.html" %}
{% block breadcrumbs %}
	<li class="breadcrumb-item">Search</li>
	<li class="breadcrumb-item active">&quot;{{ query }}&quot;</li>
{% endblock %}
{% block content %}
	<h1>Search results for &quot;{{ query }}&quot;</h1>
	<p>
		{% if total_results > 0 %}
		Your search for &quot;{{ query }}&quot; yielded the following {{ total_results }} results:
		{% else %}
		Your search for &quot;{{ query }}&quot; did not yield any results.
		{% endif %}
	</p>
	{% if results.institutions %}
	<h2>Institutions</h2>
	{% include 'tables/institution_list.html' with institutions=results.institutions %}
	{% endif %}
	{% if results.autonomous_systems %}
	<h2>Autonomous Systems</h2>
	{% include 'tables/autonomous_system_list.html' with autonomous_systems=results.autonomous_systems %}
	{% endif %}
	{% if results.hosts %}
	<h2>Hosts</h2>
	{% include 'tables/host_list.html' with hosts=results.hosts %}
	{% endif %}
	{% if results.ipv4_subnets %}
	<h2>IPv4 Subnets</h2>
	{% include 'tables/ipv4_subnet_list.html' with ipv4_subnets=results.ipv4_subnets %}
	{% endif %}
{% endblock %}
