{% extends "master.html" %}
{% block breadcrumbs %}
	<li class="breadcrumb-item"><a href="{% url 'lana_data:tunnels' %}">Tunnels</a></li>
	<li class="breadcrumb-item active">{{ tunnel }}</li>
{% endblock %}
{% block content %}
	<h1>
		{{ tunnel }}
		{% if tunnel.private %}<span class="tag tag-default">Private</span>{% endif %}
	</h1>
	<div class="row">
		<div class="col-xs-12 col-lg-6">
			<table class="table">
				<tbody>
					<tr>
						<th>Protocol:</th>
						<td>{{ tunnel.protocol_name }}</td>
					</tr>
					{% if tunnel.vtuntunnel %}
					<tr>
						<th>Transport protocol:</th>
						<td>{{ tunnel.transport }}</td>
					</tr>
					{% endif %}
					<tr>
						<th>Mode:</th>
						<td>{{ tunnel.get_mode_display }}</td>
					</tr>
					<tr>
						<th>Comment:</th>
						<td>{{ tunnel.comment }}</td>
					</tr>
					<tr>
						<th>Encryption method:</th>
						<td>{{ tunnel.encryption_method|default:'<em>None</em>' }}</td>
					</tr>
					{% if tunnel.vtuntunnel %}
					<tr>
						<th>Compression:</th>
						<td>{{ tunnel.compression|default:'<em>None</em>' }}</td>
					</tr>
					{% endif %}
					<tr>
						<th>MTU:</th>
						<td>{{ tunnel.mtu|default:'<em>None</em>' }}</td>
					</tr>
					<tr>
						<th>Peering:</th>
						<td>
						{% if tunnel.peering %}
							<a href="{% url 'lana_data:peering-details' tunnel.endpoint1.autonomous_system.as_number tunnel.endpoint2.autonomous_system.as_number %}">Details</a>
						{% else %}
							{% if can_edit %}
							<a class="btn btn-primary" href="{% url 'lana_data:peering-create' %}?tunnel={{ tunnel }}">Create</a>
							{% else %}
							<em>No</em>
							{% endif %}
						{% endif %}
					</tr>
				</tbody>
			</table>
			{% if can_edit %}
			<div class="m-b-1">
				<a class="btn btn-primary" href="{% url 'lana_data:tunnel-edit' tunnel.endpoint1.autonomous_system.as_number tunnel.endpoint2.autonomous_system.as_number %}">Edit Tunnel</a>
				{% url 'lana_data:tunnel-delete' tunnel.endpoint1.autonomous_system.as_number tunnel.endpoint2.autonomous_system.as_number as delete_url %}
				{% include 'fragments/delete-confirm.html' with url=delete_url object_name='Tunnel' %}
			</div>
			{% endif %}
		</div>
		{% if tunnel.has_geo %}
			<div class="col-xs-12 col-lg-6" style="min-height: 300px;">
				<div id="map"></div>
			</div>
			<script>
				$(function() {
					var map = LANA.createMap(51.133333, 10.416667, 4);
					LANA.loadGeoJSONPoints(map, '{% url 'lana_data:tunnel-autonomous_systems' tunnel.endpoint1.autonomous_system.as_number tunnel.endpoint2.autonomous_system.as_number %}', function() {
						LANA.fitBoundsToSource(map, 'markers');
					});
					LANA.loadGeoJSONLines(map, '{% url 'lana_data:tunnel-details' tunnel.endpoint1.autonomous_system.as_number tunnel.endpoint2.autonomous_system.as_number %}')
				});
			</script>
		{% endif %}
	</div>
	<h2 class="hidden-md-down">Endpoints</h2>
	<div class="row">
		{% for endpoint in endpoints %}
		<div class="col-xs-12 col-lg-6">
			<h2 class="hidden-lg-up">Endpoint {{ forloop.counter }}</h2>
			<table class="table">
				<tbody>
					<tr>
						<th style="width: 45%;">Host:</th>
						<td style="width: 55%;"><a href="{% url 'lana_data:host-details' endpoint.host.fqdn %}">{{ endpoint.host }}</a></td>
					</tr>
					<tr>
						<th>Autonomous System:</th>
						<td>
							{% if endpoint.host.autonomous_system.show_link %}
							<a href="{% url 'lana_data:autonomous_system-details' endpoint.autonomous_system.as_number %}">{{ endpoint.autonomous_system }}</a>
							{% else %}
							{{ endpoint.autonomous_system }}
							{% endif %}
							{% include 'fragments/institution_code.html' with institution=endpoint.autonomous_system.institution %}
						</td>
					</tr>
					<tr>
						<th>External hostname:</th>
						<td>{{ endpoint.host.external_hostname|default:'<em>None</em>' }}</td>
					</tr>
					<tr>
						<th>External IPv4:</th>
						<td>{{ endpoint.host.external_ipv4.ip|default:'<em>None</em>' }}</td>
					</tr>
					<tr>
						<th>Internal IPv4:</th>
						<td>
							{% if endpoint.dynamic_ipv4 %}
							<em>Dynamic</em>
							{% else %}
							{{ endpoint.internal_ipv4.ip|default:'<em>None</em>' }}
							{% endif %}
						</td>
					</tr>
					{% if endpoint.fastdtunnelendpoint or endpoint.vtuntunnelendpoint %}
					<tr>
						<th>Port:</th>
						<td>{{ endpoint.port|default:'<em>None</em>' }}</td>
					</tr>
					{% endif %}
					{% if endpoint.fastdtunnelendpoint %}
					<tr>
						<th>Public key:</th>
						<td style="word-break: break-all;">{{ endpoint.public_key|default:'<em>None</em>' }}</td>
					</tr>
					{% endif %}
					{% if tunnel.supports_config_generation %}
					<tr>
						<th>Config:</th>
						<td>
							{% if tunnel.is_config_complete %}
							<a class="btn btn-primary" href="{{ endpoint.config_generation_url }}">Generate</a>
							{% else %}
							<em>Incomplete</em>
							{% endif %}
						</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
{% endblock %}
