{% extends "master.html" %}
{% block breadcrumbs %}
<li class="breadcrumb-item active">Tunnels</li>
{% endblock %}
{% block content %}
	<h1>Tunnels</h1>
	{% if can_create %}
	<p>
		<a class="btn btn-primary" href="{% url 'lana_data:tunnel-create' %}">Create Tunnel</a>
	</p>
	{% endif %}
	{% include 'tables/tunnel_list.html' with empty_message='There are currently no Tunnels.' %}
	{% if can_create %}
	<p>
		<a class="btn btn-primary" href="{% url 'lana_data:tunnel-create' %}">Create Tunnel</a>
	</p>
	{% endif %}
{% endblock %}
