{% load compile_static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>LANA Dashboard</title>
	<link rel="stylesheet" href="{% static 'scss/bootstrap.scss'|compile %}" />
	<link rel="stylesheet" href="{% static 'scss/lana.scss'|compile %}" />
	<link rel="stylesheet" href="//api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css" />
	{% block styles %}{% endblock %}
	<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
		<div class="container">
			<a class="navbar-brand" href="{% url 'main-index' %}">LANA Dashboard</a>
			<ul class="nav navbar-nav">
				{% if user.is_authenticated %}
				<li class="nav-item{% if header_active == 'institutions' %} active{% endif %}">
					<a class="nav-link" href="{%  url 'lana_data:institutions' %}">Institutions</a>
				</li>
				<li class="nav-item{% if header_active == 'autonomous_systems' %} active{% endif %}">
					<a class="nav-link" href="{%  url 'lana_data:autonomous_systems' %}">Autonomous Systems</a>
				</li>
				<li class="nav-item{% if header_active == 'ipv4' %} active{% endif %}">
					<a class="nav-link" href="{%  url 'lana_data:ipv4' %}">IPv4</a>
				</li>
				<li class="nav-item{% if header_active == 'tunnels' %} active{% endif %}">
					<a class="nav-link" href="{%  url 'lana_data:tunnels' %}">Tunnels</a>
				</li>
				{% endif %}
				<li class="nav-item pull-xs-right">
					{% if user.is_authenticated %}
					<a class="nav-link" href="{% url 'usermanagement-logout' %}">Logout</a>
					{% else %}
					<a class="nav-link" href="{% url 'usermanagement-login' %}">Login</a>
					{% endif %}
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item pull-xs-right">
					<a class="nav-link" href="{% url 'usermanagement:profile' user.username %}">Profile</a>
				</li>
				{% endif %}
				{% if user.is_superuser %}
				<li class="nav-item pull-xs-right">
					<a class="nav-link" href="{%  url 'admin:index' %}">Admin</a>
				</li>
				{% endif %}
			</ul>
			{% if user.is_authenticated %}
			<form action="{% url 'lana_data:search' %}" class="form-inline pull-sm-right lana-navbar-search">
				<div class="input-group">
					<input class="form-control" name="q" type="text" placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</span>
				</div>
			</form>
			{% endif %}
		</div>
	</nav>
	<div class="container">
		<ol class="breadcrumb">
			{% block breadcrums-index %}
			<li class="breadcrumb-item"><a href="{% url 'main-index' %}">Home</a></li>
			{% endblock %}
			{% block breadcrumbs %}{% endblock %}
		</ol>
		{% for message in messages %}
		<div class="alert alert-dismissible fade in{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ message }}
		</div>
		{% endfor %}
{% block content %}{% endblock %}
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
	<script src="{% static 'js/lana.js' %}"></script>
	<script src="{% url 'main-apis' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
