name: Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    container: ubuntu:focal
    services:
      postgres:
        image: postgres:12.4
        #env:
        #  POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # gem install sass
          pip install psycopg2
          pip install -r requirements.txt
          pip install -r requirements-test.txt
      - name: Lint
        run: python manage.py lint
      - name: Check for missing migrations
        run: python manage.py makemigrations --check
