{% extends "master.html" %}
{% load crispy_forms_tags %}
{% block breadcrums-index %}{% endblock %}
{% block breadcrumbs %}
<li class="breadcrumb-item active">Home</li>
{% endblock %}
{% block content %}
<h1>LANA Dashboard</h1>
<p>Welcome to the Local Assigned Numbers Authority's dashboard!</p>
{% if show_map %}
<div class="row">
	<div class="col-xs-12" style="min-height: 550px;">
		<div id="map"></div>
	</div>
	<script>
		$(function() {
			var map = LANA.createMap(51.133333, 10.416667, 4);
			LANA.loadGeoJSONPoints(map, '{% url 'lana_data:autonomous_systems' %}', function() {
				LANA.fitBoundsToSource(map, 'markers');
			});
			LANA.loadGeoJSONLines(map, '{% url 'lana_data:tunnels' %}');
		});
	</script>
</div>
{% endif %}
{% endblock %}
